* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 718px;
  background: #E5E5E5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0%;
}

.header {
  background: url("../images/back2.png");
  width: 375px;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 40px;
}

.navflex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

header .mylogo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.mobilmenu {
  color: #6070ff;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 22px;
  gap: 12px;
  width: 100%;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.texttype {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.texttype2 {
  width: 90px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.iam {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 7px;
  margin-bottom: 70px;
  gap: 12px;
  width: 327px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hero {
  display: grid;
  flex-direction: column;
  padding: 15px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 100px;
  gap: 12px;
  width: 327px;
  height: 630px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;

}

.hero .text {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title {
  margin-bottom: 15px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title2 {
  margin: 0%;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0%;
}

.title3 {

  padding-top: 100px;
  padding-bottom: 0%;
  margin: 0%;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text1 {
  width: 327px;
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.socialtitle {
  margin-top: 10px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social {
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-bottom: 130px;
}

.social2 {
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-bottom: 80px;
}

.socialicon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  width: 327px;
  height: 24px;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style: none;
  padding: 0%;
}

.socialicon2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  width: 327px;
  height: 24px;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style: none;
  padding-left: 10px;
}

.wbtn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: 3;
}

.wbtn1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  gap: 8px;
  width: 214px;
  height: 24px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 5px;
  margin-left: 0%;
}

.wbtn3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn {
  width: 130px;
  margin: 0%;  
  height: 50px;
  background: #ffffff;
  border: 1px solid #396df2;
  border-radius: 16px;
  align-items: center;
  padding: 12px;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.btn2 {
  width: 180px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #396df2;
  border-radius: 16px;
  align-items: center;
  padding: 12px;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 4;
  flex-grow: 0;
}

button:hover {
  background: #e65f1b;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
  gap: 16px;
  width: 327px;
  flex: none;
  order: 5;
  flex-grow: 0;
  list-style: none;
  padding: 0%;
  padding-right: 15px;  
  padding-bottom: 100px;  
}

.languages1 {
padding: 0%;
}

.languages2 {
  width: 130px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
  padding: 12px;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
  flex: none;
  order: 6;
  flex-grow: 0;
  display: flex;
  width: 100%;
  padding-right: 35px;  
}

.languages3 {
  padding: 0%;

}

.languages4 {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  padding: 12px;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
  flex: none;
  order: 6;
  flex-grow: 0;
  display: flex;
  width: 100%;
  padding-right: 15px;
  width: 303px;
  height: 66.72px;
}

.about {
  background-image: url(../images/about.png);
  width: 375px;
  background-repeat: no-repeat;
  padding-bottom: 210px;
  display: flex;
  flex-direction: column;
  height: 1000px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.about > * {
  padding-left: 30px;
}
